.header-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  border-bottom: solid #a4aabd 3px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.logo-container img {
  width: 100px;
  padding: 10px;
}

.logo-text {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.link-container {
  display: flex;
  align-items: flex-end;
}

.link-container a {
  margin: 0 10px 10px 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link-container .active {
  color: #2050fe;
  border-bottom: 3px solid #2050fe;
}

.profile-container {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.profile-container img {
  width: 75px;
  border-radius: 50%;
  padding: 10px;
}

.profile-container p {
  padding: 0 3px;
}

#username-text {
  margin-bottom: 5px;
}

#role-text {
  margin-top: 5px;
  color: #a4aabd;
}

.menu-container {
  display: flex;
}